{{!< default}}

<header id="site-head">
    {{#if @blog.logo}}<a id="blog-logo" href="http://www.graze.com"><div class="bloglogo" style="background: url({{@blog.logo}})"></div></a>{{/if}}
    <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <h2 class="blog-description">
        {{@blog.description}}
        
        <span class="blog-links">
            <a href="https://github.com/graze" title="fork us on GitHub" style="color: #000;"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/snack_overflow" title="follow us on Twitter" style="color: #4099ff;"><i class="fa fa-twitter"></i></a>
            <a href="http://www.graze.com/uk/jobs/tech" class="hiring-badge">we're hiring <i class="fa fa-angle-right"></i></a>
        </span>
    </h2>
</header>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></div>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
            <p class="readmore"><a href="{{url}}">Read this article <i class="fa fa-chevron-circle-right"></i></a></p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>
